body {
    font-family: "Montserrat", sans-serif;
  }

  .container-fluid {
    background-color: white;
    border: 1px solid #508dce;
    padding: 10px;
    margin: 10px;
    margin-right: 780px;
    margin-left: -100px;
  }

  .titulo {
    text-align: center;
    font-weight: bold;
  }

  .btn-primary {
    background-color: #508dce;
    color: white;
    border: 1px solid #508dce;
    margin-right: 5px;
  }
