.h2 {
    margin-top: 220%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .lema{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: right;
    align-items: center;

}
  
